<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<title>Cars</title>
</head>
<body>
	<img src="/images/car1.jpeg" alt="cool car">
	<img src="/images/car2.jpeg" alt="cool car">
	<img src="/images/car3.jpeg" alt="cool car">
	<img src="/images/car4.jpeg" alt="cool car">
	<img src="/images/car5.jpeg" alt="cool car">
	<img src="/images/car6.jpeg" alt="cool car">
</body>
</html>